<div class= "title">
<%= @user.name %>'s events
</div>
<div class="panel panel-default">
<% @events.each do |f| %>
  <div class="panel-heading"> <%= f.title %> </div>
  <div class="panel-body"> <%= f.location %> </div>
  <div class="panel-body"> <%= f.date %> </div>
  <div class="panel-body"> <%= f.description %> </div>
 
  <% end %>
</div>

